
<style type="text/css">
.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Algorithm</h1>
    <h2>with proved theories </h2>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/img0_topcoder_arena.png" alt="screen 1" />
            </div>
            <div class="item">
                <img src="img/screen2.jpg" alt="screen 2" />
            </div>
            <div class="item">
                <img src="img/screen3.jpg" alt="screen 3" />
            </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <p> Data structure, Problem Solving </p>

    <h3> 2015.11.29 - solved AB problem </h3>
    <h4> It solved as a dynamic programming.
        It start at table[0][0][0] = 1, 
                (table[i][k][j] = 1 menas if value j is possible when String length i, number of A is k, then add 'A' to the end of the string, table[i+1][k+1][j] = 1 
                    or add 'B' to the end of the string, table[i+1][k][j+k] = 1 -> j+k menas + number of A
        then, if some value table[N][some][K] = 1, there is an answer. 

    </h4>

    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>

