<div class="page-header">
    <h1>Beautiful Quote</h1>

    <h2> 2015.11.10 </h2>
    <h3> If you really want to do something, you'll find a way. If you don't, you'll find an excuse. 
	</h2>

	<h2> 2015.12.1 </h2>
	<h3> I cannot promise you a life of sunshine
		 I cannot promise you riches, wealth or gold
		 I cannot promise you an easy pathway
		 That leads away from change or growing old.
		 But I can promise you all my heart's devotion
		 A smile to chase way your tears of sorrow.
		 A love that's true and ever growing.
		 A hand to hold in yours through each tomorrow.
		 - Mark Twain
	</h3>

</div>

