<div class="page-header">
    <h1>Beautiful Quote</h1>

    <h2> 2016.11.29 </h2>
    <h3> 33 lessons as I turn 33
    	1. Wearing sunscreen is always a good idea
    	2. Things will always happen when it's bad timing.
    	3. You can still become friends with your parents as adults, even if you gought when you were a child
    	4. Don't judge others for the decision they make. You haven't lived their life.
    	5. Be kind to everyone. You never know where or when they will show up in your life again.
    	6. Realize and appreciate when you are parnt of something special. Nothing will last forever.
    	7. Everything can change in an instant.
    	8. Sometimes starting over is the only choice you really have.
    	9. Realize that there isn't always something better out there. Sometimes you can really screw up what you already have.
    	10. Seek out people who encourage your dreams and goals.
    	11. Tell people today how you feel about them. They might not be here tomorrow.
    	12. Do things that make you happy, even if they don't make sense.
    	13. Be kind to yourself. You are your own worst enemy.
    	14. Become aware of your self-talk. Would you say those negative thoughts to someone else?
    	15. Change your goals as you grow.
    	16. Set goals that scare you. You'll be surprised at what you can acheive.
    	17. Don't worry about things. Things can be replaced. People cannot.
    	18. Doing nothing is OK.
    	19. Talking time to reflect is necessary.
    	20. It is never too late to tell someone "thank you."
    	21. You can fix many things. Death is not one of them.
    	22. Positive thinking can go a long way, but it cannot fix death or cure disases.
    	23. Find people who will stand in your corner and fith for you. They are essential to your well-being
    	24. You don't look fat in photographs. Ten years from now, you'll think you looked great.
    	25. Listen to others when they open up to you. They are telling you something for a reason.
    	26. When you feel lost, look to the past to remeber who you are.
    	27. Fill your space with photographs of happy times. Surroundings can make a difference.
    	28. Donate your time and your spirit to others who are in need. They will remember your kindness.
    	29. Be willing to take risks. It's the only way to answer the "waht if"s.
    	30. Remember that your past doesn't predict your future.
    	31. Make sure the people in your life know that you love them.
    	32. Appreciate just how far you've come.
    	33. Truly enjoy this moment. You are not guaranteed another one. 

    </h3>

	<h2> 2015.12.1 </h2>
	<h3> I cannot promise you a life of sunshine
		 I cannot promise you riches, wealth or gold
		 I cannot promise you an easy pathway
		 That leads away from change or growing old.
		 But I can promise you all my heart's devotion
		 A smile to chase way your tears of sorrow.
		 A love that's true and ever growing.
		 A hand to hold in yours through each tomorrow.
		 - Mark Twain
	</h3>

    <h2> 2015.11.10 </h2>
    <h3> If you really want to do something, you'll find a way. If you don't, you'll find an excuse. 
	</h2>



</div>

