
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1> Welcome to YJKIM's tech blog </h1>
    <h2>Version <span app-version></span></h2>
    <p>
        This is my first tech blog to memorize knowledges and skills, especially,
        <ul>
        <li> Algorithm, </li>
        <li> Mac Protocol and</li>
        <li> Javascript. </li>     
        </ul>   

        This blog is not completed, yet.  
    </p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen1.jpg"  alt="screen1"></a>
        <h2>Algorithm</h2>
        <p> In computer science, it is useful knowledge when you develop any product </p>
        <p><a class="btn" href="#/algorithm">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen2.jpg"  alt="screen2"></a>
        <h2>Mac Protocol</h2>
        <p> I'm a member of MAC HW Team. The important concept of protocol will be arranged </p>
        <p><a class="btn" href="#/macprotocol">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen3.jpg"  alt="screen3"></a>
        <h2>Javascript</h2>
        <p> This language is so hot these days. You can make an application  from front-end and back-end</p>
        <p><a class="btn" href="#/javascript">View details &raquo;</a></p>
    </div>
</div>

