
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>MAC Protocol</h1>
    <p> Concepts will be arranged </p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span6">
        <h2> 802.11 AH </h2>
        <p> This protocol is about IoT</p>
        <p><a class="btn" href="#">AH &raquo;</a></p>
    </div>
    <div class="span6">
        <h2> 802.11 AX </h2>
        <p> This is about the next generation of WIFI </p>
        <p><a class="btn" href="#">AX &raquo;</a></p>
    </div>
</div>
